<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />

<script src="/jquery/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>

<link rel="stylesheet" href="/datatables/datatables.min.css"/>
<script src="/datatables/datatables.min.js"></script>
<script src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
<script src="/datatables/Buttons-1.5.6/js/buttons.flash.min.js"></script>
<script src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
<script src="/datatables/Buttons-1.5.6/js/buttons.print.min.js"></script>
<script src="/datatables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
<script src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
<script src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>

<link rel="stylesheet" href="/datatables/dataTables.checkboxes.css"/>
<script src="/datatables/dataTables.checkboxes.min.js"></script>

<script src="https://kit.fontawesome.com/4aadf44d83.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/main.css" />
<script src="/js/main.js"></script>

<script src="/js/index.js"></script>

</head>
<body>
	<nav class="site-header sticky-top py-1 mb-3">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#" aria-label="Product">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false">
					<title>Product</title><circle cx="12" cy="12" r="10"></circle>
					<path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
				</svg>
			</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Page A</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Page B</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Page C</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Page D</a>
		</div>
	</nav>

	<main id="main-container" class="px-5" tabindex="-1">

		<div class="row">
			<div class="col">
				<p><span th:text="${greeting}"></span>. This is <span th:text="@{${@environment.getProperty('spring.profiles.active')}}"></span></p>
			</div>
		</div>
		
		<table class="table" id="table-fruits">
			<thead>
				<tr>
					<th>UUID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

	</main>

</body>
</html>