<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App 1</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	
	<link rel="stylesheet" th:href="@{/app-1.css}"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    
    <script>
    $(document).ready(function() {
        
    	$('#table-search').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        
        $('input[type=search]').attr('placeholder', 'Search filtered results');
        
        $('#datetimepicker').datetimepicker();
        $('#datepicker').datetimepicker({
        	timepicker : false,
        	format : 'Y/m/d'
        });
        
    });
    </script>

</head>
<body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/app-1">Organization</a>
	  <div class="application-title">App 1</div>
	  <ul class="navbar-nav px-3">
	    <li class="nav-item text-nowrap">
	      <a class="nav-link" href="#">Sign out</a>
	    </li>
	  </ul>
	</nav>
	<div class="container-fluid">
	  <div class="row">
	    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
	      <div class="sidebar-sticky">
	        
	        <ul class="nav flex-column">
	          <li class="nav-item">
	            <a class="nav-link" href="#dashboard">Dashboard</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#search">Search</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#function-3">Function 3</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#function-4">Function 4</a>
	          </li>
	        </ul>
	
	        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	          <span>Utilies</span>
	        </h6>
	        <ul class="nav flex-column mb-2">
	          <li class="nav-item">
	            <a class="nav-link" href="#task-status">Task Status</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#item-b">Item B</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#item-c">Item C</a>
	          </li>
	        </ul>
	        
	        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
	          <span>Sites</span>
	        </h6>
	        <ul class="nav flex-column mb-2">
	          <li class="nav-item">
	            <a class="nav-link" href="/">Home</a>
	          </li>
	        </ul>
	      </div>
	    </nav>
	
	    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	    	<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
		    	<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
		    		<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
		    	</div>
		    	<div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
		    		<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
		    	</div>
	    	</div>
			
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="dashboard">Dashboard</h1>
			</div>
	
			<!--  -->
			<canvas class="my-4 w-100 chartjs-render-monitor" id="chart-dashboard" width="1538" height="649" style="display: block; width: 1538px; height: 649px;"></canvas>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="search">Search</h1>
			</div>
			
			<div class="row">
				<div class="col-md-3">
					<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalSearch">Search</button>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalAssign">Assign</button>
					<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalUpdateTaskStatus">Update Task Status</button>
				</div>
				<div class="col-md-3"></div>
			</div>
			<p></p>
			
			<!-- -->
			<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modalSearchLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalSearchLabel">Search</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
					<form>
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" placeholder="Text field">
							</div>
							<div class="col">
								<select class="form-control">
									<option selected>Choose...</option>
									<option>A</option>
									<option>B</option>
									<option>C</option>
									<option>D</option>
								</select>
							</div>
						</div>
						<p></p>
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" id="datetimepicker" placeholder="Date & Time">
							</div>
							<div class="col">
								<input type="text" class="form-control" id="datepicker" placeholder="Date">
							</div>
						</div>
						<p></p>
						<div class="form-row">
							<div class="col">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="search-checkbox">
								  <label class="form-check-label" for="search-checkbox">Check here</label>
								</div>
						    </div>
						    <div class="col">
						    	<div class="form-check">
								  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
								  <label class="form-check-label" for="exampleRadios1">Radio A</label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
								  <label class="form-check-label" for="exampleRadios2">Radio B</label>
								</div>
						    </div>
						</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Search</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- -->
			<div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssignLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalAssignLabel">Assign</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Search</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- -->
			<div class="modal fade" id="modalUpdateTaskStatus" tabindex="-1" role="dialog" aria-labelledby="modalUpdateTaskStatusLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalUpdateTaskStatusLabel">Update Task Status</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Search</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<table id="table-search" class="table">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Position</th>
		                <th>Office</th>
		                <th>Age</th>
		                <th>Start date</th>
		                <th>Salary</th>
		            </tr>
		        </thead>
		        <tbody></tbody>
		        <tfoot>
		            <tr>
		                <th>Name</th>
		                <th>Position</th>
		                <th>Office</th>
		                <th>Age</th>
		                <th>Start date</th>
		                <th>Salary</th>
		            </tr>
		        </tfoot>
		    </table>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="function-3">Function 3</h1>
			</div>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="function-4">Function 4</h1>
			</div>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="task-status">Task Status</h1>
			</div>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="item-b">Item B</h1>
			</div>
			
			<!--  -->
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			  <h1 class="h2" id="item-c">Item C</h1>
			</div>
			
	    </main>
	    
	  </div>
	</div>
    
    <script>
    var ctxDashboard = new Chart(document.getElementById('chart-dashboard').getContext('2d'), {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    
</body>
</html>