<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Home</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<script>
		var app = angular.module('app', []);
	
		app.controller('controller', ['$scope', function($scope) {
		  $scope.onPageLoad = function() {
			  
			var apps = [
				{name:"App 1", url:"/app-1"},
				{name:"App 2", url:"/app-2"},
				{name:"App 3", url:"/app-3"},
				{name:"App 4", url:"#"},
				{name:"App 5", url:"#"},
				{name:"App 6", url:"#"},
				{name:"App 7", url:"#"},
				{name:"App 8", url:"#"},
				{name:"App 9", url:"#"},
				{name:"App 10", url:"#"}
			];
			
			var maxRow = 5;
			var maxCol = 3;
			for (row = 0; row < maxRow; row++) {
				for (col = 0; col < maxCol; col++) {
					var i = (maxCol * row) + col;
					if(i < apps.length)
						$('#r-' + row + '-c-' + col).html('<div class="card"><div class="card-body"><a href="' + apps[i].url + '" class="card-link">' + apps[i].name + '</a></div></div>');
				}
			}
			
		  }
		}]);
	</script>
	
</head>
<body ng-app="app" ng-controller="controller" data-ng-init="onPageLoad()">

	<p></p>
	<div class="container" id="sites">
		<div class="row">
			<div class="col-md-6">
				Logged user: <span th:text="${#authentication.name}"></span>
			</div>
			<div class="col-md-6">
				Roles: <span sec:authentication="principal.roles"></span>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-4" id="r-0-c-0"></div>
			<div class="col-md-4" id="r-0-c-1"></div>
			<div class="col-md-4" id="r-0-c-2"></div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-4" id="r-1-c-0"></div>
			<div class="col-md-4" id="r-1-c-1"></div>
			<div class="col-md-4" id="r-1-c-2"></div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-4" id="r-2-c-0"></div>
			<div class="col-md-4" id="r-2-c-1"></div>
			<div class="col-md-4" id="r-2-c-2"></div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-4" id="r-3-c-0"></div>
			<div class="col-md-4" id="r-3-c-1"></div>
			<div class="col-md-4" id="r-3-c-2"></div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-4" id="r-4-c-0"></div>
			<div class="col-md-4" id="r-4-c-1"></div>
			<div class="col-md-4" id="r-4-c-2"></div>
		</div>
	</div>

</body>

</html>